# build
bin/
obj/

# IDE
.vs/
.vscode/

# Playwright artifacts
**/playwright-report/
**/trace.zip
**/traces/
**/screenshots/
**/videos/
**/playwright*.zip

# Debug dumps
**/pw_*.html
**/pw_*.png
**/playwright_*.html
**/playwright_*.png
**/last_*.html

# Local
appsettings.Local.json

# Log
*.log
Thumbs.db
.DS_Store
